//- ===============================
//- Each Page Settings
//- ===============================

- var lang = 'ru'
- var favicon = { showFavicon: false, path: 'img/favicon' }

//- ===============================
//- Index Page
//- ===============================
- var index={}
- index.id = 'Index'
- index.title = 'Index'
- index.navHref = 'index.html'
//- seo
- index.description
- index.keywords
//- open graph
- index.og={}
- index.og.showOG = false
- index.og.prefix = 'og: http://ogp.me/ns#' //- probably must be changed acc to og.type
- index.og.type
- index.og.title
- index.og.description
- index.og.url
- index.og.image
- index.og.locale
