include mixins

block pageInfo

doctype html
html(class='no-js', lang= page.lang)
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		//- shrink-to-fit for ios9 http://kihlstrom.com/2015/shrink-to-fit-no-fixes-zoom-problem-in-ios-9/
		//- meta(name='creator', content='ros ivanov')

		// Title
		title= page.title
		// SEO
		meta(name="description" content= page.description)
		// OG
		block og
		// Favicon

		// Styles
		block styles
			link(rel="stylesheet", href="../css/style.css")
		// /Styles

		// JS Head
		block jshead
		// /JS Head

	body
		+browserhappy(page.lang)

		block content

		// JS Footer
		block jsfooter
			script(src='../js/concat/main.js')
		// /JS Footer
