include mixins

block pageInfo

doctype html
html(class='no-js', lang= page.lang)
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//meta(name='author', content='@ros_ivanov')
		//meta(name='robots', content='index')

		// Title
		title= page.title
		// SEO
		+seo(page.description, page.keywords)
		// Favicon
		//+favicon('img/favicon')
		// OG
		block og

		// Styles
		block styles
			link(rel="stylesheet", href="../css/style.css")
		// Scripts In Head
		block jshead
			script(src="../components/modernizr/modernizr.js")

	body
		+browserhappy(page.lang)

		block content

		// Scripts In Footer
		block jsfooter
			script(src='../js/concat/main.js')
