include mixins
include config

block pageInfo

doctype html
//- <!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
html(class='no-js', lang= lang)&attributes( page.ogShow ? {prefix: page.ogPrefix} : '' )
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name='author', content='Ros Ivanov')
		meta(name='robots', content='index')

		// Title
		title= page.title

		// SEO
		+seo(page.description, page.keywords)

		// Favicon
		if (favicon.show)
			+favicon(favicon.path)

		// OG
		block og

		// Styles
		block styles
			// build:css css/style.css
			link(rel="stylesheet", href="../css/style.css")
			// endbuild

		// Scripts In Head
		block jsinhead
			// build:js js/modernizr.js
			script(src="../components/modernizr/modernizr.js", async)
			// endbuild

	body
		+browserhappy(lang)

		block content

		// Scripts In Footer
		block jsinfooter
			// build:js js/main.js
			script(src='../js/jsconcat/main.js')
			// endbuild
