extends ../template

block pageInfo
	- var page = {}
	- page.id = 'index'
	- page.title = 'Index'
	- page.lang = 'ru'
	//- seo
	- page.description = page.title + ' page description'
	- page.keywords = page.title + ' page keywords'

block og
	//- open graph
	//+og('type', 'title', 'description', 'url', 'img', 'locale')

block content
	.container
		.col Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ea saepe ad, fugit facilis facere sit, voluptates nihil eos delectus ducimus pariatur provident mollitia. Repellendus id nobis modi, accusantium quis?
