// Font

// Base Settings
$browser-fs: 16px; // used for rem, em functions
$html-bg: #fff;
$body-ff: Arial, sans-serif;
$body-fs: 1em;
$body-fc: #000;
$body-lh: 1.1;


// Responsive
// rem для всего, em внутри компонентов
// em в media queries считается от базового fs браузера, который меняется только через настройки

// точки
$w480: 480px;
$w640: 640px;
$w768: 768px;
$w1024: 1024px;
$w1280: 1280px;
$w1366: 1366px;
$w1440: 1440px;

// контейнеры (media: width)
$container: (
	$w480: 400px,
	$w640: 450px,
	$w768: 600px,
	$w1024: 700px,
	$w1280: 1000px,
	$w1366: 1200px
);
$container-gutter: 10px;

// Начиная с ширины `w1440` добавляется коэфициент `html {font-size 1.25vw}`
$vw-scale: ($w1440: 1.25vw);

// Project variables

// Abstract class
