// box-sizing reset
*, *:after, *:before {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}

html {
	background-color: $html-bg;

	// change fs to vw items
	@if $vw-scale {
		@each $media, $vw in $vw-scale{
			@media (min-width: em($media)) {
				font-size: $vw;
			}
		}
	}

}

body {
	font-family: $body-ff;
	font-size: $body-fs;
	color: $body-fc;
	line-height: $body-lh;
	-webkit-font-smoothing: antialiased; // safari smooth font. prefix mandatory.
	text-size-adjust: 100%; // prevent fs scale on ios safari
}
