@each $container in $containers {
	@if $container {
		$classname: nth($container, 1);
		$gutter_default: nth($container, 2);

		.#{$classname} {
			@extend %center;
			padding-left: rem($gutter_default);
			padding-right: rem($gutter_default);

			@for $i from 3 through length($container) {
				$break_args: nth($container, $i);
				$media: nth($break_args, 1);
				$width: nth($break_args, 2);
				$gutter: $gutter_default;
				@if length($break_args) == 3 {$gutter: nth($break_args, 3);}

				@media (min-width: $media) {
					max-width: rem($width + $gutter * 2);

					padding-left: rem($gutter);
					padding-right: rem($gutter);
				}

			}
		}

	}
}
