.container {
	@extend %center;
	padding-left: rem($container-gutter);
	padding-right: rem($container-gutter);
	//media
	@each $media, $width in $container {
		@media (min-width: em($media)) {
			max-width: rem($width);
		}
	}
}
