/**
* ## Шрифты
*/


// Base Settings
$browser-fs: 16px; // used for rem, em functions
$html-fs: 1em;
$body-fs: 1rem;
$html-bg: #fff;
$body-fc: #000;
$body-ff: Arial, sans-serif;
$lh: 1.1;

/**
* ## Адаптив
*/
// rem для всего, em внутри компонентов
// em в media queries считается от базового fs браузера, который меняется только через настройки
/**
* #### Точки
* `$w480: 480px; $w640: 640px; $w768: 768px; $w1024: 1024px; $w1280: 1280px; $w1366: 1366px;`
*
* px переведены в em
* ***
*/
$w480: 480px;
$w640: 640px;
$w768: 768px;
$w1024: 1024px;
$w1280: 1280px;
$w1366: 1366px;
/**
* #### .container ширина и медиа
* `$w480: 400px, $w640: 500px, $w768: 600px, $w1024: 800px, $w1280: 1000px, $w1366: 1800px`
*
* px переведены в em
* ***
*/
$container-mq-and-width: (
	$w480: 400px,
	$w640: 500px,
	$w768: 600px,
	$w1024: 800px,
	$w1280: 1000px,
	$w1366: 1800px
);
$container-gutter: 10px;
/**
* Начиная с ширины `w1366` `html {font-size 1em}` меняется на коэфициент 1.25vw
*/
$vw-scale: ($w1366: 1.25vw);



// Components
// ----------------

//lost
//@lost gutter 0;

//jeet
//@import "../components/jeet.gs/scss/jeet/index";
//$jeet-gutter: 0; // override jeet default gutters

// breakpoint
//@import "../components/breakpoint-sass/stylesheets/breakpoint";
//@mixin bp ($args...) {
//	@include breakpoint($args...) {
//		@content
//	}
//}

// normalize
//@import '../components/normalize/normalize';

// reset
//$body-lh: null;
//@import '../components/reset/reset';

// bootstrap
//$box-sizing: false;

// print
//@import '../components/print/print';
