/**
* ## Шрифты
*/


// Base Settings
$browser-fs: 16px; // used for rem, em functions
$html-fs: 1em;
$body-fs: 1rem;
$html-bg: #fff;
$body-fc: #000;
$body-ff: sans-serif;

// Optional Settings
$body-lh: 1;
$box-sizing: true;
$fontSmooth: true;

/**
* ## Адаптив
*/
// rem для всего, em внутри компонентов
// em в media queries считается от базового fs браузера, который меняется только через настройки
/**
* #### Точки
* `$xxs: 480px; $xs: 640px; $sm: 768px; $md: 1024px; $lg: 1280px; $xlg: 1366px;`
*
* px переведены в em
* ***
*/
$xxs: 480px;
$xs: 640px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xlg: 1366px;
/**
* #### .container ширина и медиа
* `$xxs: 400px, $xs: 500px, $sm: 600px, $md: 800px, $lg: 1000px, $xlg: 1800px`
*
* px переведены в em
* ***
*/
$container-mq-and-width: (
	$xxs: 400px,
	$xs: 500px,
	$sm: 600px,
	$md: 800px,
	$lg: 1000px,
	$xlg: 1800px
);
$container-gutter: 10px;
/**
* Начиная с ширины `xlg` `html {font-size 1em}` меняется на коэфициент 1.25vw
*/
$vw-scale: ($xlg: 1.25vw);



// Components
// ----------------

//jeet
//@import "../components/jeet.gs/scss/jeet/index";
//$jeet-gutter: 0; // override jeet default gutters

// breakpoint
//@import "../components/breakpoint-sass/stylesheets/breakpoint";
//@mixin bp ($args...) {
//	@include breakpoint($args...) {
//		@content
//	}
//}

// normalize
//@import '../components/normalize/normalize';

// reset
//$body-lh: null;
//@import '../components/reset/reset';

// bootstrap
//$box-sizing: false;

// print
//@import '../components/print/print';
