@if $box-sizing == true { @extend %box-sizing; } // box-sizing reset

html {
    font-size: $html-fs;
	background-color: $html-bg;
	font-smoothing: antialiased; //safari smooth font
	text-size-adjust: 100%; //prevent fs scale on ios safari

	// change fs to vw items
	@if $vw-scale {
		@each $bp, $vw in $vw-scale{
			@media (min-width: em($bp)) {
				font-size: $vw;
			}
		}
	}
}

body {
    font-size: $body-fs;
    font-family: $body-ff;
    color: $body-fc;
    line-height: $lh;
}

// Browserhappy
.browsehappy {
    position: relative;
	z-index: 1000;
	margin: 0;
	padding: 1em;
    background: #fff;
    color: #000;
	font-style: normal;
}
