// box-sizing reset
@if $box-sizing == true {
	*, *:after, *:before {
		box-sizing: inherit;
	}
	html {
		box-sizing: border-box;
	}
}

html {
    font-size: $html-fs;
	background-color: $html-bg;

	// change fs to vw items
	@if $vw-scale {
		@each $bp, $vw in $vw-scale{
			@media (min-width: em($bp)) {
				font-size: $vw;
			}
		}
	}

}

body {
    font-size: $body-fs;
    font-family: $body-ff;
    color: $body-fc;
    line-height: $lh;
	-webkit-font-smoothing: antialiased; // safari smooth font. prefix mandatory.
	text-size-adjust: 100%; // prevent fs scale on ios safari
}

// Browserhappy
.browsehappy {
    position: relative;
	z-index: 1000;
	margin: 0;
	padding: 1em;
    background: #fff;
    color: #000;
	font-style: normal;
}
