.container {
	@extend %cf;
	@extend %center;
	padding-left: $container-gutter;
	padding-right: $container-gutter;
	//media
	@each $bp, $width in $container-mq-and-width {
		@media (min-width: em($bp)) {
			max-width: rem($width);
		}
	}
}
