// ==========
// Font
// ==========
font_default = "Arial", sans-serif
// usage
body_font = "customfont", font_default

// ==========
// Base Settings
// ==========
browser_fs = 16px // used for rem, em functions
html_bg = white
body_color = black
body_lh = 1.1

// ==========
// Responsive
// em в media queries считается от базового fs браузера, который меняется только через настройки
// ==========

// точки

// контейнеры

// Начиная с ширины `w1440` добавляется коэфициент `html {font-size 1.25vw}`
vw_scale = w1440 1.25vw

// ==========
// Project variables
// ==========
